$sliderDuration: 40s;

.slider {
	position: relative;
	display: flex;
	justify-content: flex-start;
	overflow: hidden;

	&__elements {
		display: flex;
		justify-content: center;
	}
	
	.first {
		padding-left: 128px;
		animation: $sliderDuration linear slide infinite;
	}

	.second {
		padding-left: 128px;
		animation: $sliderDuration linear slide infinite;
		position: absolute;
		left: 100%;
	}
}

.sliderSmallTop {
	padding: 64px 0;
}

@keyframes slide {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-100%));
	}
}