$sliderDuration: 80s;

.slider {
	position: relative;
	display: flex;
	justify-content: flex-start;
	overflow: hidden;
	width: 100%;

	&__elements {
		display: flex;
		justify-content: center;
	}
	
	.first {
		padding-left: 128px;
		animation: $sliderDuration linear slide infinite;
	}

	.second {
		padding-left: 128px;
		animation: $sliderDuration linear secondSlide infinite;
		position: absolute;
	}
}

.sliderSmallTop {
	padding: 64px 0;
}

@keyframes slide {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes secondSlide {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

// mobile
@media screen and (max-width: 820px) {
	.slider {
		.first {
			padding-left: 32px;
			animation: $sliderDuration linear slide infinite;
		}
		
		.second {
			padding-left: 32px;
			animation: $sliderDuration linear secondSlide infinite;
			position: absolute;
		}
	}
}