.prestation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;

  &_header {
    width: 100vw;
    overflow-y: visible;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .gradient {
      position: absolute;
      top: 15vh;
      right: 50px;
      width: 350px;
      height: 200px;
      background: #e6b1bb;
      border-radius: 50%;
      filter: blur(50px);
    }

    .gradientBottom {
      position: absolute;
      top: 35vh;
      left: 0px;
      width: 450px;
      height: 250px;
      background: #b1cae6;
      border-radius: 50%;
      filter: blur(50px);
    }

    h1, p, a {
      position: relative;
    }
  }

  &_title {
    font-size: 64px;
    padding-top: 150px;
    text-align: center;
    max-width: 100%;
    box-sizing: border-box;
    padding: 150px 16px 0 16px;
  }

  &_description {
    max-width: 800px;
    margin-bottom: 60px;
    max-width: 100%;
    padding: 0 16px;
    text-align: center;
  }

  &_gallery {
    display: flex;
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &_image {
      height: 480px;
      width: 100%;
      background-position: center center;
      background-size: cover;
    }

    &_description {
      max-width: 800px;
      margin: 208px 0;
    }
  }

  &_image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 208px;
    max-width: 100%;

    &_img {
      width: 800px;
      max-width: 100%;
      height: 480px;
      background-position: center center;
      background-size: cover;
    }
  }
}

.rotateArrow {
  transform: rotate(180deg);
}

// mobile and tablet
@media screen and (max-width: 1200px) {
  .prestation {
    &_gallery {
      &_description {
        width: 800px;
        max-width: 100%;
        box-sizing: border-box;
        font-weight: 100;
        line-height: 26px;
        font-size: 16px;
        padding: 0 13px;
        margin-top: 140px;
        margin-bottom: 140px;
      }
    }

    &_image {
      &_arrow {
        display: none;
      }
    }

    .gradient {
      top: 15vh;
      right: -150px;
    }

    .gradientBottom {
      top: 35vh;
      left: -200px;
    }
  }
}

// mobile
@media screen and (max-width: 820px) {
  .prestation {
    &_title {
      font-size: 32px;
      padding-top: 150px;
    }

    &_description {
      font-size: 16px;
      max-width: 800px;
      margin-bottom: 60px;
    }
  }
}
